# General
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folders
.vscode/
.idea/
.github/
*.sublime*

# Logs and databases
*.log
*.sql
*.sqlite

# Environment variables and secrets
.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencies
node_modules/

# Build directories
dist/
build/
out/
.cache/
.next/
.nuxt/
.vuepress/dist

# Backend specific
backend/prisma/migrations/
backend/uploads/
backend/coverage/
backend/tmp/

# Frontend specific
frontend/dist/
frontend/coverage/

# Package managers
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/
.npm
.yarn/

# Testing
coverage/
.nyc_output/

# Miscellaneous
*.swp
*.swo
*~
.directory
